<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login NewsApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Login
    </ion-button>
  </form>

  <div class="ion-text-center ion-margin-top" style="display: flex; justify-content: center; align-items: center;">
    <span>Tidak punya akun?</span>
    <ion-button fill="clear" (click)="presentRegisterAlert()" style="margin-left: 5px;">Register</ion-button>
  </div>
  
</ion-content>
