<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary" class="profile-header">
        <div class="ion-padding ion-text-center">
          <ion-avatar class="menu-avatar">
            <img
              [src]="
                user.profile_picture_address || 'assets/images/default-user.png'
              "
            />
          </ion-avatar>

          <h2 class="menu-name">{{ user.fullname }}</h2>
          <p class="menu-username">@{{ user.username }}</p>

          <div class="user-details">
            <ion-badge color="light" mode="ios">
              {{ user.role === "USER" ? "Pengguna" : "Penulis" }}
            </ion-badge>
            <p class="bio">"{{ user.biography }}"</p>

            <p class="country" *ngIf="user.country">
              <ion-icon name="location-outline"></ion-icon>
              {{ user.country.name }} ({{ user.country.telephone }})
            </p>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/home" routerDirection="root" detail="false">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="user.role !== 'USER'">
          <ion-item [routerLink]="['/news-list', { mode: 'my-news' }]" detail="false">
            <ion-icon slot="start" name="documents-outline"></ion-icon>
            <ion-label>Berita Saya</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="user.role !== 'USER'">
          <ion-item routerLink="/create-news" detail="false">
            <ion-icon slot="start" name="newspaper-outline"></ion-icon>
            <ion-label>Buat Berita Baru</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="user.role !== 'USER'">
          <ion-item routerLink="/create-category" detail="false">
            <ion-icon slot="start" name="list-circle-outline"></ion-icon>
            <ion-label>Buat Kategori Baru</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngIf="user.role !== 'WRITER'">
          <ion-item routerLink="/favorites" detail="false">
            <ion-icon slot="start" name="heart-outline"></ion-icon>
            <ion-label>Favorit Saya</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/favorites" detail="false">
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
            <ion-label>Edit Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <div class="ion-padding-top">
          <ion-item button (click)="onLogout()" lines="none" detail="false">
            <ion-icon
              slot="start"
              name="log-out-outline"
              color="danger"
            ></ion-icon>
            <ion-label color="danger">Logout</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
